<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You for Funding a Project</title>
</head>
<body>
  <h1>Thank You for Your Support</h1>
  <p>Dear {{ username }},</p>
  <p>We wanted to express our sincere gratitude for your contribution to the project with ID {{ project_id }}. Your support means the world to us and the project creator.</p>
  <p>With your generous contribution of ₦{{ amount }}, you are helping to make a real difference. Your support will enable the project to reach its goals and make a positive impact on the community.</p>
  <p>We will keep you updated on the project's progress, so you can see how your contribution is making a difference. Feel free to check the project page for updates and milestones.</p>
  <p>Once again, thank you for being a part of this initiative. Together, we can create positive change and build a better future.</p>
  <p>Best regards,</p>
  <p>The Community Catalyst Team</p>
</body>

</html>
