<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Funded Notification</title>
</head>
<body>
  <h1>Project Funded notification</h1>
  <p>Dear user <strong>{{ username }}</strong>,</p>
  <p>Your project with id {{ project_id}} has been funded with: # {{ amount }}</p>
  <p> Log in to your account here to see how much your project has gotten<a href="{{ url_for('frontend.login') }}"> Click here</a></p>
  <p>Best regards,</p>
  <p>The Community Catalyst Team</p>
</body>

</html>